<li class="w3-hover-sand"><i class="fa fa-bus w3-text-orange" area-hidden=true></i> 
    Buss {{number}} - {{timeExpected}} {{#if display}} ({{display}}) {{/if}}<br>
    {{#if delayed}}
    <div class="w3-sand">Mot {{destination}} {{time}} försenad till {{timeExpected}}.</div>
    {{else}}
    <div class="w3-small">{{destination}}</div>
    {{/if}}
</li>
