<h1>{{title}}</h1>
<p>Bussar avgående från Bondevägen, Viksjö klockan {{checktime}}.</p>

<div class="w3-row">
  <div class="w3-half w3-container">
    <h3>Bussar västerut</h3>
    <ul class="w3-ul w3-hoverable">
    {{#buses1}}
    <li class="w3-hover-sand"><i class="fa fa-bus w3-text-orange" area-hidden=true></i> 
        Buss {{number}} - {{timeExpected}} {{#if display}} ({{display}}) {{/if}}<br>
        {{#if delayed}}
        <div class="w3-orange"><strong>Avgång mot {{destination}} {{time}} försenad. Ny tid {{timeExpected}}.</strong></div>
        {{else}}
        <div class="w3-small">{{destination}}</div>
        {{/if}}
    </li>
    {{/buses1}}
    {{^buses1}}
    <i>Det går inga bussar den närmsta timmen.</i>
    {{/buses1}}

    </ul>
  </div>
  <div class="w3-half w3-container">
    <h3>Bussar österut</h3>
    <ul class="w3-ul w3-hoverable">
    {{#buses2}}
    <li class="w3-hover-sand"><i class="fa fa-bus w3-text-orange" area-hidden=true></i> 
        Buss {{number}} - {{timeExpected}} {{#if display}} ({{display}}) {{/if}}<br>
        {{#if delayed}}
        <div class="w3-orange"><strong>Avgång mot {{destination}} {{time}} försenad. Ny tid {{timeExpected}}.</strong></div>
        {{else}}
        <div class="w3-small">{{destination}}</div>
        {{/if}}
    </li>
    {{/buses2}}
    {{^buses2}}
    <i>Det går inga bussar den närmsta timmen.</i>
    {{/buses2}}

    </ul>
  </div>
</div>

